In [ ]:
#32 책대여하기
from datetime import date

class Book:
    def __init__(self, title, author, publish_year):
        self.title = title
        self.author = author
        self.publish_year = publish_year

    def get_years_since_publication(self):
        current_year = date.today().year # date.today() -> datetime.date(2025, 7, 17)
        return current_year - self.publish_year
    
book = Book('Demian', 'Herman Hesse', 1919)
print(book.get_years_since_publication())

In [ ]:
#33 책대여하기
class Book():
    def __init__(self, title, author):
        self.title = title
        self.author = author
        self.is_rented = False

    def __str__(self):
        return f'{self.title}'
    
class Student():
    def __init__(self, name, id):
        self.name = name
        self.id = id
        self.rented_books = []

    def rent_a_book(self, book):
        if not book.is_rented:
            book.is_rented = True
            self.rented_books.append(book)
            return f'{self.name}이/가 {book.title}를 빌려감'
        else:
            f'{book.title}은 이미 대여중'

소나기 = Book('소나기', '황순원')
은세 = Student('은세', '1308')

print(은세.rent_a_book(소나기))

In [ ]:
#35 거리계산
# 내 풀이

import math as m

class main:
    def __init__(self,x_1,y_1,x_2,y_2):
        self.x_1 = x_1
        self.y_1 = y_1
        self.x_2 = x_2
        self.y_2 = y_2

    def __str__(self):
        return str(m.sqrt((self.x_1-self.x_2)**2 + (self.y_1-self.y_2)**2))
x_1 = 1
y_1 = 1

x_2 = 0
y_2 = 0

result = main(x_1, y_1, x_2, y_2)

print(result)

# 쌤 풀이

class Point:
    def __init__(self, x,y):
        self.x = x
        self.y =y

    def distance(self, v):
        return m.sqrt((self.x - v.x)**2 + (self.y-v.y)**2)
    
p1 = Point(0, 0)
p2 = Point(1, 1)

print(p1.distance(p2))

In [ ]:
#36 영화 예매
# 내 풀이
class main:
    def __init__(self, remainig_seats):
        self.remainig_seats = remainig_seats

    def __str__(self):
        if self.remainig_seats > 0:
            self.remainig_seats = self.remainig_seats - 1
            return "Booking Granted"
        else:
            return "Sold Out"
            
n=3
print('스머프')
스머프 = main(n)
for _ in range(n+1):
    print(스머프)

m = 7
print('인터스텔라')
인터스텔라 = main(m)
for _ in range(m+1):
    print(인터스텔라)

In [ ]:
# 44
def sol(k):
  if k == 1:
    return 1
  return sol(k-1) + k

sol(10)

55

In [ ]:
# 45
def sol(k):
  if k == 1:
    return 1
  return sol(k-1) * k

sol(10)

3628800

In [ ]:
# 46_1
def sol(k):
  if k == 1:
    return 1
  print(k)
  return sol(k-1)

sol(10)

10
9
8
7
6
5
4
3
2

1

In [7]:
# 46_2
'''n = 10

def sol(k):
  if k == 0:
    return n
  print(n - k + 1)
  return sol(k-1)

print(sol(n))
'''
#쌤풀이
n = 5
def c_up(k):
  if k < 1:
    return
  c_up(k-1)
  print(k)

print(c_up(n))

1
2
3
4
5
None

In [8]:
#47 fibo
def sol(k):
    if k == 1:
        return 1
    elif k == 2:
        return 1
    return sol(k-1) + sol(k-2)

sol(6)

8

In [9]:
#48 tribo
def sol(k):
    if k == 1:
        return 0
    elif k == 2:
        return 0
    elif k == 3:
        return 1
    return sol(k-1) + sol(k-2) + sol(k-3)

sol(6)

4

In [21]:
from functools import lru_cache

def k_nacci(k, n):
    @lru_cache(maxsize=None)
    def f(m):
        if m < k:
            return 0
        if m == k:
            return 1
        return sum(f(m - i) for i in range(1, k + 1))
    return f(n + 1)

k_nacci(2, 6)

8