In [ ]:
#32 책대여하기
from datetime import date

class Book:
    def __init__(self, title, author, publish_year):
        self.title = title
        self.author = author
        self.publish_year = publish_year

    def get_years_since_publication(self):
        current_year = date.today().year # date.today() -> datetime.date(2025, 7, 17)
        return current_year - self.publish_year
    
book = Book('Demian', 'Herman Hesse', 1919)
print(book.get_years_since_publication())

In [ ]:
#33 책대여하기
class Book():
    def __init__(self, title, author):
        self.title = title
        self.author = author
        self.is_rented = False

    def __str__(self):
        return f'{self.title}'
    
class Student():
    def __init__(self, name, id):
        self.name = name
        self.id = id
        self.rented_books = []

    def rent_a_book(self, book):
        if not book.is_rented:
            book.is_rented = True
            self.rented_books.append(book)
            return f'{self.name}이/가 {book.title}를 빌려감'
        else:
            f'{book.title}은 이미 대여중'

소나기 = Book('소나기', '황순원')
은세 = Student('은세', '1308')

print(은세.rent_a_book(소나기))

In [ ]:
#35 거리계산
# 내 풀이

import math as m

class main:
    def __init__(self,x_1,y_1,x_2,y_2):
        self.x_1 = x_1
        self.y_1 = y_1
        self.x_2 = x_2
        self.y_2 = y_2

    def __str__(self):
        return str(m.sqrt((self.x_1-self.x_2)**2 + (self.y_1-self.y_2)**2))
x_1 = 1
y_1 = 1

x_2 = 0
y_2 = 0

result = main(x_1, y_1, x_2, y_2)

print(result)

# 쌤 풀이

class Point:
    def __init__(self, x,y):
        self.x = x
        self.y =y

    def distance(self, v):
        return m.sqrt((self.x - v.x)**2 + (self.y-v.y)**2)
    
p1 = Point(0, 0)
p2 = Point(1, 1)

print(p1.distance(p2))

In [ ]:
#36 영화 예매
# 내 풀이
class main:
    def __init__(self, remainig_seats):
        self.remainig_seats = remainig_seats

    def __str__(self):
        if self.remainig_seats > 0:
            self.remainig_seats = self.remainig_seats - 1
            return "Booking Granted"
        else:
            return "Sold Out"
            
n=3
print('스머프')
스머프 = main(n)
for _ in range(n+1):
    print(스머프)

m = 7
print('인터스텔라')
인터스텔라 = main(m)
for _ in range(m+1):
    print(인터스텔라)

In [ ]:
# 44
def sol(k):
  if k == 1:
    return 1
  return sol(k-1) + k

sol(10)

55

In [ ]:
# 45
def sol(k):
  if k == 1:
    return 1
  return sol(k-1) * k

sol(10)

3628800

In [ ]:
# 46_1
def sol(k):
  if k == 1:
    return 1
  print(k)
  return sol(k-1)

sol(10)

10
9
8
7
6
5
4
3
2

1

In [7]:
# 46_2
'''n = 10

def sol(k):
  if k == 0:
    return n
  print(n - k + 1)
  return sol(k-1)

print(sol(n))
'''
#쌤풀이
n = 5
def c_up(k):
  if k < 1:
    return
  c_up(k-1)
  print(k)

print(c_up(n))

1
2
3
4
5
None

In [8]:
#47 fibo
def sol(k):
    if k == 1:
        return 1
    elif k == 2:
        return 1
    return sol(k-1) + sol(k-2)

sol(6)

8

In [9]:
#48 tribo
def sol(k):
    if k == 1:
        return 0
    elif k == 2:
        return 0
    elif k == 3:
        return 1
    return sol(k-1) + sol(k-2) + sol(k-3)

sol(6)

4

In [ ]:
#48 확장 n차 피보나치
from functools import lru_cache

def k_nacci(k, n):
    @lru_cache(maxsize=None)
    def f(m):
        if m < k:
            return 0
        if m == k:
            return 1
        return sum(f(m - i) for i in range(1, k + 1))
    return f(n + 1)

k_nacci(2, 6)

8

In [ ]:
#매개 변수와 전역 변수 의 재귀적 사용

#매개 변수
def f(k):
    if  k == 0:
        return
    
    f(k-1)

#전역 변수
n = 4
def fd():
    global n
    if n == 0:
        return
    n=n-1
    fd()

In [ ]:
#49 n개의 문자를 한줄에
def sol(k):
    if k == 0:
        return
    print('*', end='')    
    sol(k-1)
sol(5)

*****

In [ ]:
#50 1~n까지 한줄 출력
n = 5

def sol(k):
    global n
    if k == 0:
        return
    print(n-k + 1, end='')
    sol(k-1)

sol(5)

12345

In [ ]:
#51 n개 문자 출력(전역 변수)
n = 4

def sol():
    global n
    if n == 0:
        return
    n = n-1
    print('*', end='')
    sol()

sol()

****

In [24]:
#52 별삼각형(함수)
def sol(k):
    for i in range(1, k+1):
        print('*'*i)
sol(5)

#52 별삼각형(함수) #쌤풀이
def f(k):
    for i in range(1, k + 1):
        print()
        for j in range(1, i + 1):
            print('*', end='')
f(5)

*
**
***
****
*****

*
**
***
****
*****

In [27]:
#52 별삼각형(재귀)
n = 5

def sol(k):
    global n
    if k == 0:
        return
    print('*'*(n-k + 1))
    sol(k-1)

sol(5)

# 모범 답안
def ssol(k):
  if k < 1:
    return
  ssol(k-1)
  print('*'*k, end='')
  print()

ssol(5)

*
**
***
****
*****
*
**
***
****
*****

In [ ]:
# 3D 정육면제 구현 걍 딴짓

import math
import time
import os

width, height = 80, 40

angle_x = 0
angle_y = 0

cube_vertices = [
    [-1, -1, -1],
    [-1, -1,  1],
    [-1,  1, -1],
    [-1,  1,  1],
    [ 1, -1, -1],
    [ 1, -1,  1],
    [ 1,  1, -1],
    [ 1,  1,  1]
]

cube_edges = [
    (0, 1), (0, 2), (0, 4),
    (1, 3), (1, 5),
    (2, 3), (2, 6),
    (3, 7),
    (4, 5), (4, 6),
    (5, 7),
    (6, 7)
]

while True:
    os.system('cls' if os.name == 'nt' else 'clear')
    screen = [[" " for _ in range(width)] for _ in range(height)]
    
    projected = []
    for x, y, z in cube_vertices:
        y_rot = y * math.cos(angle_x) - z * math.sin(angle_x)
        z_rot = y * math.sin(angle_x) + z * math.cos(angle_x)
        x_rot = x
        x_rot2 = x_rot * math.cos(angle_y) + z_rot * math.sin(angle_y)
        z_rot2 = -x_rot * math.sin(angle_y) + z_rot * math.cos(angle_y)
        y_rot2 = y_rot
        
        fov = 1.5
        distance = 4
        factor = fov / (distance - z_rot2)
        X = int(width / 2 + x_rot2 * factor * width / 2)
        Y = int(height / 2 - y_rot2 * factor * height / 2)
        projected.append((X, Y))
    
    for edge in cube_edges:
        x1, y1 = projected[edge[0]]
        x2, y2 = projected[edge[1]]
        dx = x2 - x1
        dy = y2 - y1
        steps = max(abs(dx), abs(dy))
        for i in range(steps + 1):
            xi = int(x1 + dx * i / steps)
            yi = int(y1 + dy * i / steps)
            if 0 <= xi < width and 0 <= yi < height:
                screen[yi][xi] = "*"
    
    for row in screen:
        print("".join(row))
    
    angle_x += 0.05
    angle_y += 0.03
    time.sleep(0.03)

In [8]:
# 53 역 별삼각형
def sol(k):
    print('*'*k)
    if k == 1:
        return
    sol(k-1)

sol(5)

*****
****
***
**
*

In [ ]:
#54
def s0l(k):
    if k < 1:
        return
    s0l(k-1)
    print(k, end='')

def sol(k):
    if k < 1:
        return
    sol(k-1)
    s0l(k)
    print()
sol(5)

1
12
123
1234
12345

In [7]:
#55 숫자 역삼각형
def ssol(k):
    if k == 0:
        return
    print(k, end='')
    ssol(k-1)

def sol(k):
    if k == 0:
        return
    ssol(k)
    print()

    sol(k-1)

sol(7)

7654321
654321
54321
4321
321
21
1

In [ ]:
#56 함수 최대 공약수
import math as m

def sol(k, l):

    a = max(k, l)
    b = min(k, l)

    for i in range(b + 1, 1, -1):
        if b%i==0 and a%i==0:
            return i

sol(8, 16)

8

In [ ]:
#56 재귀 최대 공약수
def sol(k, l):